// VARIABLES
// ---------
//
// _base--variables.scss
//
// This file contains all the variables to use throughout the files.
//



// TYPOGRAPHY
// ----------



// FONTS
// -----

$font--body		: "Titillium", Helvetica, Arial, sans-serif;
$font--helper	: "Montserrat", Helvetica, Arial, sans-serif;


// FONT WEIGHTS
// ------------

$font-weight--thin 		: 300;
$font-weight--medium 	: 400;


// FONT SIZES/LINE HEIGHTS
// -----------------------

$font-size--base				: 1em;
$font-size--text--short 		: 1.2em;
$font-size--text--medium		: 2.8em/1em;
$font-size--text--medium--big	: 3.6em;
$font-size--text--long			: 1.6em/1.4em;
$font-size--text--long--big		: 2em;



// COLOURS
// -------



// TEXT
// ----


// SECTION HEADER HELPER
// ---------------------

$color--text--short--light 		: #AFAFAF;
$color--text--short--dark 		: #C8C8C8;


// SECTION HEADER
// --------------

$color--text--medium--light 	: #494B4E;
$color--text--medium--dark 		: #FFFFFF;


// SECTION BODY
// ------------

$color--text--long--light 		: #828588;
$color--text--long--dark 		: #F0F3F6;


// BORDERS
// -------

$color--border--section 		: rgba(230,233,236,0.5);
$color--border--navigation 		: rgba(230,233,236,0.5);



// RANDOM
// ------

$color--text-divider 			: #2294F2;