// BASE
// ----
//
// _base.scss
//
// This file sets the basic structure for the body and html tags. It also
// brings together some setup files like a reset file and variables file,
// and the fonts.
//



// RESET
// -----

@import "base--reset";


// FONTS
// -----

@import "base--fonts";


// VARIABLES
// ---------

@import "base--variables";


// BODY DECLARATION
// ----------------

body {
	margin: 0;
	padding: 0;
	// reset font-size
	font-size: 62.5%;
}