// SECTION
// -------


// SECTION MIXIN
// -------------

@mixin section($topbottom, $leftright) {
	padding: $topbottom $leftright;
}


// SECTION TYPES
// -------------

.section--landing { @include section(8em, 2em); }
.section--supporting { @include section(6em, 2em); }
.section--intermediary { @include section(4em, 2em); }


// SECTION ADDONS
// --------------

.section--overflow {
	overflow: hidden;
}


.section--border {
	border-bottom: 1px solid $color--border--section;
}


		// SECTION BOUNDS
		// --------------

		.section__bounds {
			max-width: 96em;
			margin: 0 auto;
		}


			// FLEX CONTAINER IF NEEDED
			// ------------------------

			.section__flex {
				display: -webkit-flex;
				display: flex;
			}


				// SECTION TEXT GROUPING
				// ---------------------

				.section__text {
					font-size: $font-size--base;
					width: 40%;
					display: block;
				}


				.section__text--center {
					width: 100%;
				}


					.section__text__open {
						font: $font-weight--medium $font-size--text--short $font--helper;
						text-transform: uppercase;
					}


					.section__text__open--landing {
						text-align: center;
						max-width: 50em;
						margin: 0 auto;
					}


					.section__text__open--center {
						text-align: center;
					}


					.section__text__open--light {
						color: $color--text--short--light;
					}


					.section__text__open--dark {
						color: $color--text--short--light;
					}


					.section__text__divider {
						display: block;
						height: 0.2em;
						width: 3em;
						background: $color--text-divider;
						margin-top: 0.25em;
					}


					.section__text__divider--center {
						margin: 0.25em auto 0 auto;
					}


					.section__text__title {
						font: $font-weight--medium 2.8em/1em $font--helper;
						text-transform: uppercase;
						margin: 1em 0 0.4em 0;
					}


					.section__text__title--landing {
						font-size: $font-size--text--medium--big;
						margin: 0.4em 0;
						text-align: center;
					}


					.section__text__title--small {
						max-width: 18em;
						margin: 0.4em auto 0.4em auto;
					}


					.section__text__title--center {
						text-align: center;
					}


					.section--intermediary .section__text__title {
						margin: 0 0 0.4em 0;
					}


					.section__text__title--light {
						color: $color--text--medium--light;
					}


					.section__text__title--dark {
						color: $color--text--medium--dark;
					}


					.section__text__blurb {
						font: $font-weight--thin 1.6em/1.4em $font--body;
					}


					.section__text__blurb--landing {
						font-size: $font-size--text--long--big;
						max-width: 32em;
						margin: 0 auto;
						text-align: center;
					}


					.section__text__blurb--center {
						max-width: 30em;
						margin: 0 auto;
						text-align: center;
					}


					.section__text__blurb--light {
						color: $color--text--long--light;
					}


					.section__text__blurb--dark {
						color: $color--text--long--dark;
					}


				.section__compliment {
					width: 60%;
					display: block;
				}


				.section__compliment--center {
					width: 100%;
				}