// BUTTONS
// -------



// BASE BUTTON
// -----------

.button {
	// display table allows width intrinsic on Firefox
	// and works fine on other browsers, except that
	// in Chrome it extends the width of the button by
	// 1 or 2 pixels
	display: table;
	width: intrinsic;
	font: 400 1.4em "Montserrat";
	padding: 1em 1.5em;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: transparent;
	border-radius: 2em;
	@include vendor-prefix('transition', 'background 0.2s, color 0.2s');
}


// BUTTON STYLE MIXIN
// ------------------

@mixin button-style($button-color, $button-color-hover, $button-color-active, $border: true) {

	// no border
	@if $border == false {
		background: rgba(30,40,60,0.5);
	}

	// ambient state
	&:link {
		text-decoration: none;
		color: $button-color;
		// border
		@if $border {
			border: 2px solid $button-color;
		}
	}

	// visited state
	&:visited {
		text-decoration: none;
		color: $button-color;
		// border
		@if $border {
			border: 2px solid $button-color;
		}
	}

	// hover state
	&:hover {
		cursor: pointer;
		text-decoration: none;	
		// depending on if active
		@if $border {
			background: $button-color;
		} @else {
			background: $button-color-active;
		}
		color: $button-color-hover;
	}

	// active state
	&:active {
		text-decoration: none;
		// $button-color-active is 18% darker than $button-color-hover
		background: $button-color-active;
	}	

}


// BUTTON STYLES
// -------------

.button--dark { @include button-style(rgb(130,140,160), rgb(255,255,255), rgb(84,94,114)); }
.button--blue { @include button-style(#2294F2, rgb(255,255,255), #0066C4); }
.button--white { @include button-style(rgb(255,255,255), #2294F2, #D1D1D1); }
.button--orange { @include button-style(#e67e22, rgb(255,255,255), #B85000); }
.button--inactive { @include button-style(rgba(255,255,255,0.9), rgba(255,255,255,0.9), rgba(30,40,60,0.5), $border: false); }


// BUTTONS WITH SOME ROOM
// ----------------------

.button--top-margin {
	margin-top: 2em;
}


// NAVIGATION BUTTONS
// ------------------

.button--navigation {
	font-size: 1.2em;
	padding: 0.75em 1.5em;
	margin: 0;
}

