@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both;
  display: block; }

.cf {
  /* For IE 6/7 only. Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1; }

.page__container {
  position: relative;
  z-index: 100; }

.button {
  display: table;
  width: intrinsic;
  font: 400 1.4em "Montserrat";
  padding: 1em 1.5em;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border-radius: 2em;
  -webkit-transition: background 0.2s, color 0.2s;
  -moztransition: background 0.2s, color 0.2s;
  -ms-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }

.button--dark:link {
  text-decoration: none;
  color: #828ca0;
  border: 2px solid #828ca0; }
.button--dark:visited {
  text-decoration: none;
  color: #828ca0;
  border: 2px solid #828ca0; }
.button--dark:hover {
  cursor: pointer;
  text-decoration: none;
  background: #828ca0;
  color: white; }
.button--dark:active {
  text-decoration: none;
  background: #545e72; }

.button--blue:link {
  text-decoration: none;
  color: #2294f2;
  border: 2px solid #2294f2; }
.button--blue:visited {
  text-decoration: none;
  color: #2294f2;
  border: 2px solid #2294f2; }
.button--blue:hover {
  cursor: pointer;
  text-decoration: none;
  background: #2294f2;
  color: white; }
.button--blue:active {
  text-decoration: none;
  background: #0066c4; }

.button--white:link {
  text-decoration: none;
  color: white;
  border: 2px solid white; }
.button--white:visited {
  text-decoration: none;
  color: white;
  border: 2px solid white; }
.button--white:hover {
  cursor: pointer;
  text-decoration: none;
  background: white;
  color: #2294f2; }
.button--white:active {
  text-decoration: none;
  background: #d1d1d1; }

.button--orange:link {
  text-decoration: none;
  color: #e67e22;
  border: 2px solid #e67e22; }
.button--orange:visited {
  text-decoration: none;
  color: #e67e22;
  border: 2px solid #e67e22; }
.button--orange:hover {
  cursor: pointer;
  text-decoration: none;
  background: #e67e22;
  color: white; }
.button--orange:active {
  text-decoration: none;
  background: #b85000; }

.button--inactive {
  background: rgba(30, 40, 60, 0.5); }
  .button--inactive:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9); }
  .button--inactive:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9); }
  .button--inactive:hover {
    cursor: pointer;
    text-decoration: none;
    background: rgba(30, 40, 60, 0.5);
    color: rgba(255, 255, 255, 0.9); }
  .button--inactive:active {
    text-decoration: none;
    background: rgba(30, 40, 60, 0.5); }

.button--top-margin {
  margin-top: 2em; }

.button--navigation {
  font-size: 1.2em;
  padding: 0.75em 1.5em;
  margin: 0; }

.qcbt__navigation {
  position: fixed;
  width: 100%;
  z-index: 200;
  background: transparent;
  border: 0;
  -webkit-transition: background 0.2s, border 0.2s;
  -moztransition: background 0.2s, border 0.2s;
  -ms-transition: background 0.2s, border 0.2s;
  -o-transition: background 0.2s, border 0.2s;
  transition: background 0.2s, border 0.2s; }

.qcbt__navigation--visible {
  background: rgba(255, 255, 255, 0.975);
  border-bottom: 1px solid rgba(240, 240, 240, 0.85); }

.qcbt__navigation__logo {
  float: left;
  display: inline-block;
  padding: 1.5em; }

.qcbt__navigation__picture {
  display: block;
  height: 3.7em; }

.qcbt__navigation__action {
  float: right;
  display: inline-block;
  padding: 1.5em; }

.qcbt__navigation__links__container {
  float: right;
  opacity: 0;
  border-right: 1px solid rgba(230, 233, 236, 0.5);
  -webkit-transition: opacity 0.2s;
  -moztransition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.qcbt__navigation__links__container--visible {
  opacity: 1; }

.qcbt__navigation__link__container {
  float: left; }

.qcbt__navigation__link {
  display: block;
  padding: 1.85em 2.5em; }

.qcbt__navigation__link__icon {
  opacity: 1;
  display: inline-block;
  height: 3em;
  width: 3em;
  border-radius: 2em;
  float: left;
  margin-right: 1em;
  border: 2px solid #afafaf;
  overflow: hidden; }

.qcbt__navigation__link__icon--sponsorship--shade {
  background: url("../images/nav/straight--shade.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--speakers--shade {
  background: url("../images/nav/straight-side--shade.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--team--shade {
  background: url("../images/nav/slant-left--shade.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--delegates--shade {
  background: url("../images/nav/slant-right--shade.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--sponsorship--blue {
  background: url("../images/nav/straight--blue.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--speakers--blue {
  background: url("../images/nav/straight-side--blue.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--team--blue {
  background: url("../images/nav/slant-left--blue.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--delegates--blue {
  background: url("../images/nav/slant-right--blue.png") center center;
  background-size: 100%; }

.qcbt__navigation__link__icon--active {
  border: 2px solid #2294F2; }

.qcbt__navigation__link__text {
  float: left;
  font: 400 1.2em/2.5em "Montserrat";
  text-transform: uppercase;
  color: #afafaf; }

.qcbt__navigation__link__text--active {
  color: #2294F2; }

.section--landing {
  padding: 8em 2em; }

.section--supporting {
  padding: 6em 2em; }

.section--intermediary {
  padding: 4em 2em; }

.section--overflow {
  overflow: hidden; }

.section--border {
  border-bottom: 1px solid rgba(230, 233, 236, 0.5); }

.section__bounds {
  max-width: 96em;
  margin: 0 auto; }

.section__flex {
  display: -webkit-flex;
  display: flex; }

.section__text {
  font-size: 1em;
  width: 40%;
  display: block; }

.section__text--center {
  width: 100%; }

.section__text__open {
  font: 400 1.2em "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.section__text__open--landing {
  text-align: center;
  max-width: 50em;
  margin: 0 auto; }

.section__text__open--center {
  text-align: center; }

.section__text__open--light {
  color: #afafaf; }

.section__text__open--dark {
  color: #afafaf; }

.section__text__divider {
  display: block;
  height: 0.2em;
  width: 3em;
  background: #2294f2;
  margin-top: 0.25em; }

.section__text__divider--center {
  margin: 0.25em auto 0 auto; }

.section__text__title {
  font: 400 2.8em/1em "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 1em 0 0.4em 0; }

.section__text__title--landing {
  font-size: 3.6em;
  margin: 0.4em 0;
  text-align: center; }

.section__text__title--small {
  max-width: 18em;
  margin: 0.4em auto 0.4em auto; }

.section__text__title--center {
  text-align: center; }

.section--intermediary .section__text__title {
  margin: 0 0 0.4em 0; }

.section__text__title--light {
  color: #494b4e; }

.section__text__title--dark {
  color: white; }

.section__text__blurb {
  font: 300 1.6em/1.4em "Titillium", Helvetica, Arial, sans-serif; }

.section__text__blurb--landing {
  font-size: 2em;
  max-width: 32em;
  margin: 0 auto;
  text-align: center; }

.section__text__blurb--center {
  max-width: 30em;
  margin: 0 auto;
  text-align: center; }

.section__text__blurb--light {
  color: #828588; }

.section__text__blurb--dark {
  color: #f0f3f6; }

.section__compliment {
  width: 60%;
  display: block; }

.section__compliment--center {
  width: 100%; }

.qcbt__widget__card__landing {
  margin: 4em auto;
  width: 36em;
  height: 18em;
  position: relative; }

.qcbt__widget__card__landing__border {
  display: block;
  height: 100%;
  width: 100%;
  border: 4px dashed rgba(255, 255, 255, 0.5);
  border-radius: 4px; }

.qcbt__widget__card__card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  -webkit-transform: translateY(-40em);
  -moztransform: translateY(-40em);
  -ms-transform: translateY(-40em);
  -o-transform: translateY(-40em);
  transform: translateY(-40em); }

.qcbt__widget__card__card__header {
  border-bottom: 1px solid rgba(220, 224, 228, 0.5);
  font: 400 1.2em "Montserrat";
  text-align: center;
  text-transform: uppercase;
  color: #afafaf;
  padding: 1em; }

.qcbt__widget__card__card__table {
  display: table-cell;
  height: 14em;
  width: 36em;
  vertical-align: middle; }

.qcbt__widget__card__card__name {
  font: 400 4em "Montserrat";
  color: #6e7276;
  text-align: center;
  text-transform: uppercase; }

.qcbt__widget__card__card--straight--in {
  -webkit-transform: rotate(0deg) translateY(0);
  -moztransform: rotate(0deg) translateY(0);
  -ms-transform: rotate(0deg) translateY(0);
  -o-transform: rotate(0deg) translateY(0);
  transform: rotate(0deg) translateY(0);
  -webkit-animation: cardInStraightWebkit 0.4s ease;
  -moz-animation: cardInStraightMoz 0.4s ease;
  -o-animation: cardInStraightO 0.4s ease;
  animation: cardInStraight 0.4s ease; }

.qcbt__widget__card__card--slant--right--in {
  -webkit-transform: rotate(-4deg) translateY(0);
  -moztransform: rotate(-4deg) translateY(0);
  -ms-transform: rotate(-4deg) translateY(0);
  -o-transform: rotate(-4deg) translateY(0);
  transform: rotate(-4deg) translateY(0);
  -webkit-animation: cardInSlantRightWebkit 0.4s ease;
  -moz-animation: cardInSlantRightMoz 0.4s ease;
  -o-animation: cardInSlantRightO 0.4s ease;
  animation: cardInSlantRight 0.4s ease; }

.qcbt__widget__card__card--slant--left--in {
  -webkit-transform: rotate(4deg) translateY(0);
  -moztransform: rotate(4deg) translateY(0);
  -ms-transform: rotate(4deg) translateY(0);
  -o-transform: rotate(4deg) translateY(0);
  transform: rotate(4deg) translateY(0);
  -webkit-animation: cardInSlantLeftWebkit 0.4s ease;
  -moz-animation: cardInSlantLeftMoz 0.4s ease;
  -o-animation: cardInSlantLeftO 0.4s ease;
  animation: cardInSlantLeft 0.4s ease; }

.qcbt__widget__card__card--straight--out {
  -webkit-transform: rotate(0deg) translateY(75em);
  -moztransform: rotate(0deg) translateY(75em);
  -ms-transform: rotate(0deg) translateY(75em);
  -o-transform: rotate(0deg) translateY(75em);
  transform: rotate(0deg) translateY(75em);
  -webkit-animation: cardOutStraightWebkit 0.4s ease-in;
  -moz-animation: cardOutStraightMoz 0.4s ease-in;
  -o-animation: cardOutStraightO 0.4s ease-in;
  animation: cardOutStraight 0.4s ease-in; }

.qcbt__widget__card__card--slant--right--out {
  -webkit-transform: rotate(-4deg) translateY(75em);
  -moztransform: rotate(-4deg) translateY(75em);
  -ms-transform: rotate(-4deg) translateY(75em);
  -o-transform: rotate(-4deg) translateY(75em);
  transform: rotate(-4deg) translateY(75em);
  -webkit-animation: cardOutSlantRightWebkit 0.4s ease-in;
  -moz-animation: cardOutSlantRightMoz 0.4s ease-in;
  -o-animation: cardOutSlantRightO 0.4s ease-in;
  animation: cardOutSlantRight 0.4s ease-in; }

.qcbt__widget__card__card--slant--left--out {
  -webkit-transform: rotate(4deg) translateY(75em);
  -moztransform: rotate(4deg) translateY(75em);
  -ms-transform: rotate(4deg) translateY(75em);
  -o-transform: rotate(4deg) translateY(75em);
  transform: rotate(4deg) translateY(75em);
  -webkit-animation: cardOutSlantLeftWebkit 0.4s ease-in;
  -moz-animation: cardOutSlantLeftMoz 0.4s ease-in;
  -o-animation: cardOutSlantLeftO 0.4s ease-in;
  animation: cardOutSlantLeft 0.4s ease-in; }

@-webkit-keyframes cardInStraightWebkit {
  0% {
    -webkit-transform: rotate(0deg) translateY(-75em); }

  100% {
    -webkit-transform: rotate(0deg) translateY(0); } }

@-webkit-keyframes cardInSlantRightWebkit {
  0% {
    -webkit-transform: rotate(-4deg) translateY(-75em); }

  100% {
    -webkit-transform: rotate(-4deg) translateY(0); } }

@-webkit-keyframes cardInSlantLeftWebkit {
  0% {
    -webkit-transform: rotate(4deg) translateY(-75em); }

  100% {
    -webkit-transform: rotate(4deg) translateY(0); } }

@-webkit-keyframes cardOutStraightWebkit {
  0% {
    -webkit-transform: rotate(0deg) translateY(0); }

  100% {
    -webkit-transform: rotate(0deg) translateY(75em); } }

@-webkit-keyframes cardOutSlantRightWebkit {
  0% {
    -webkit-transform: rotate(-4deg) translateY(0); }

  100% {
    -webkit-transform: rotate(-4deg) translateY(75em); } }

@-webkit-keyframes cardOutSlantLeftWebkit {
  0% {
    -webkit-transform: rotate(4deg) translateY(0); }

  100% {
    -webkit-transform: rotate(4deg) translateY(75em); } }

@-moz-keyframes cardInStraightMoz {
  0% {
    -moz-transform: rotate(0deg) translateY(-75em); }

  100% {
    -moz-transform: rotate(0deg) translateY(0); } }

@-moz-keyframes cardInSlantRightMoz {
  0% {
    -moz-transform: rotate(-4deg) translateY(-75em); }

  100% {
    -moz-transform: rotate(-4deg) translateY(0); } }

@-moz-keyframes cardInSlantLeftMoz {
  0% {
    -moz-transform: rotate(4deg) translateY(-75em); }

  100% {
    -moz-transform: rotate(4deg) translateY(0); } }

@-moz-keyframes cardOutStraightMoz {
  0% {
    -moz-transform: rotate(0deg) translateY(0); }

  100% {
    -moz-transform: rotate(0deg) translateY(75em); } }

@-moz-keyframes cardOutSlantRightMoz {
  0% {
    -moz-transform: rotate(-4deg) translateY(0); }

  100% {
    -moz-transform: rotate(-4deg) translateY(75em); } }

@-moz-keyframes cardOutSlantLeftMoz {
  0% {
    -moz-transform: rotate(4deg) translateY(0); }

  100% {
    -moz-transform: rotate(4deg) translateY(75em); } }

@-o-keyframes cardInStraightO {
  0% {
    -o-transform: rotate(0deg) translateY(-75em); }

  100% {
    -o-transform: rotate(0deg) translateY(0); } }

@-o-keyframes cardInSlantRightO {
  0% {
    -o-transform: rotate(-4deg) translateY(-75em); }

  100% {
    -o-transform: rotate(-4deg) translateY(0); } }

@-o-keyframes cardInSlantLeftO {
  0% {
    -o-transform: rotate(4deg) translateY(-75em); }

  100% {
    -o-transform: rotate(4deg) translateY(0); } }

@-o-keyframes cardOutStraightO {
  0% {
    -o-transform: rotate(0deg) translateY(0); }

  100% {
    -o-transform: rotate(0deg) translateY(75em); } }

@-o-keyframes cardOutSlantRightO {
  0% {
    -o-transform: rotate(-4deg) translateY(0); }

  100% {
    -o-transform: rotate(-4deg) translateY(75em); } }

@-o-keyframes cardOutSlantLeftO {
  0% {
    -o-transform: rotate(4deg) translateY(0); }

  100% {
    -o-transform: rotate(4deg) translateY(75em); } }

@keyframes cardInStraight {
  0% {
    transform: rotate(0deg) translateY(-75em); }

  100% {
    transform: rotate(0deg) translateY(0); } }

@keyframes cardInSlantRight {
  0% {
    transform: rotate(-4deg) translateY(-75em); }

  100% {
    transform: rotate(-4deg) translateY(0); } }

@keyframes cardInSlantLeft {
  0% {
    transform: rotate(4deg) translateY(-75em); }

  100% {
    transform: rotate(4deg) translateY(0); } }

@keyframes cardOutStraight {
  0% {
    transform: rotate(0deg) translateY(0); }

  100% {
    transform: rotate(0deg) translateY(75em); } }

@keyframes cardOutSlantRight {
  0% {
    transform: rotate(-4deg) translateY(0); }

  100% {
    transform: rotate(-4deg) translateY(75em); } }

@keyframes cardOutSlantLeft {
  0% {
    transform: rotate(4deg) translateY(0); }

  100% {
    transform: rotate(4deg) translateY(75em); } }

.qcbt__contribution {
  max-width: 50em;
  margin: 4em auto;
  border-radius: 4px;
  padding: 2em;
  border: 2px solid #dcdfe2; }

.qcbt__contribution--base {
  background: #2294F2; }
  .qcbt__contribution--base .qcbt__contribution__value__number {
    color: white; }
  .qcbt__contribution--base .qcbt__contribution__value__sign {
    color: rgba(255, 255, 255, 0.75); }
  .qcbt__contribution--base .qcbt__contribution__range::-webkit-slider-runnable-track {
    background: #0070CE; }
  .qcbt__contribution--base .qcbt__contribution__range::-webkit-slider-thumb {
    background: #FFFFFF; }

.qcbt__contribution--bronze {
  background: #CD7F32; }
  .qcbt__contribution--bronze .qcbt__contribution__value__number {
    color: white; }
  .qcbt__contribution--bronze .qcbt__contribution__value__sign {
    color: rgba(255, 255, 255, 0.75); }
  .qcbt__contribution--bronze .qcbt__contribution__range::-webkit-slider-runnable-track {
    background: #A95B0E; }
  .qcbt__contribution--bronze .qcbt__contribution__range::-webkit-slider-thumb {
    background: #FFFFFF; }

.qcbt__contribution--silver {
  background: #C0C0C0; }
  .qcbt__contribution--silver .qcbt__contribution__value__number {
    color: #1e283c; }
  .qcbt__contribution--silver .qcbt__contribution__value__sign {
    color: rgba(30, 40, 60, 0.75); }
  .qcbt__contribution--silver .qcbt__contribution__range::-webkit-slider-runnable-track {
    background: #9C9C9C; }
  .qcbt__contribution--silver .qcbt__contribution__range::-webkit-slider-thumb {
    background: #1e283c; }

.qcbt__contribution--gold {
  background: #FFD700; }
  .qcbt__contribution--gold .qcbt__contribution__value__number {
    color: #1e283c; }
  .qcbt__contribution--gold .qcbt__contribution__value__sign {
    color: rgba(30, 40, 60, 0.75); }
  .qcbt__contribution--gold .qcbt__contribution__range::-webkit-slider-runnable-track {
    background: #DBB300; }
  .qcbt__contribution--gold .qcbt__contribution__range::-webkit-slider-thumb {
    background: #1e283c; }

.qcbt__contribution--platinum {
  background: #E5E4E2; }
  .qcbt__contribution--platinum .qcbt__contribution__value__number {
    color: #1e283c; }
  .qcbt__contribution--platinum .qcbt__contribution__value__sign {
    color: rgba(30, 40, 60, 0.75); }
  .qcbt__contribution--platinum .qcbt__contribution__range::-webkit-slider-runnable-track {
    background: #C1C0BE; }
  .qcbt__contribution--platinum .qcbt__contribution__range::-webkit-slider-thumb {
    background: #1e283c; }

.qcbt__contribution__value {
  display: block; }

.qcbt__contribution__value__number {
  width: 90%;
  float: left;
  font: 400 3em/1em "Montserrat";
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

.qcbt__contribution__value__sign {
  width: 10%;
  float: left;
  font: 300 1.6em/1em "Titillium Web";
  text-align: right;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

.qcbt__contribution__range {
  margin-top: 2.5em;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer; }
  .qcbt__contribution__range::-webkit-slider-runnable-track {
    width: 100%;
    border-radius: 1.25em;
    height: 0.5em;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    -ms-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s; }
  .qcbt__contribution__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2em;
    width: 4em;
    border-radius: 0.2em;
    position: relative;
    margin-top: -0.75em;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    -ms-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s; }

.qcbt__widget__numbers--sponsorship {
  padding-top: 3em; }

.qcbt__widget__team__number {
  float: left;
  padding: 0 1em;
  width: 25%; }

.qcbt__widget__team__number__digit {
  font: 400 4em/1em "Montserrat";
  margin-bottom: 0.25em;
  text-align: center;
  color: #2294F2; }

.qcbt__widget__team__number__category {
  font: 400 1.4em "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: #afafaf; }

.qcbt__widget__sponsorship__number {
  float: left;
  padding-right: 4em; }

.qcbt__widget__sponsorship__number__digit {
  font: 400 3.6em/1em "Montserrat";
  margin-bottom: 0.25em;
  color: #e6e9ec; }

.qcbt__widget__sponsorship__number__category {
  font: 400 1.2em "Montserrat";
  text-transform: uppercase;
  color: #2294F2; }

.qcbt__widget__small__logos {
  margin: 2em auto;
  max-width: 60em; }

.qcbt__widget__small__logos__logo {
  width: 10em;
  height: 10em;
  display: block;
  float: left; }

.qcbt__widget__small__logos__logo--manulife {
  background: url("../images/logos/manulife--blue.png") no-repeat center;
  background-size: 100%; }

.qcbt__widget__small__logos__logo--rbc {
  background: url("../images/logos/rbc--blue.png") no-repeat center;
  background-size: 100%; }

.qcbt__widget__small__logos__logo--accenture {
  background: url("../images/logos/accenture--blue.png") no-repeat center;
  background-size: 100%; }

.qcbt__widget__small__logos__logo--ibm {
  background: url("../images/logos/ibm--blue.png") no-repeat center;
  background-size: 100%; }

.qcbt__widget__small__logos__logo--wealthsimple {
  background: url("../images/logos/wealthsimple--blue.png") no-repeat center;
  background-size: 100%; }

.qcbt__widget__small__logos__logo--oracle {
  background: url("../images/logos/oracle--blue.png") no-repeat center;
  background-size: 100%; }

.qcbt__picture__grid {
  max-width: 120em;
  margin: 6em auto; }

.qcbt__picture__grid__picture__container {
  display: block;
  height: 20em;
  width: 20em;
  float: left;
  padding: 0.25em; }

.qcbt__picture__grid__picture {
  border-radius: 4px;
  display: block;
  width: 100%; }

.qcbt__widget__speakers {
  margin: 4em auto;
  display: table;
  width: intrinsic; }

.qcbt__widget__speakers__speaker {
  display: block;
  float: left;
  margin: 0 2em;
  position: relative; }

.qcbt__widget__speakers__speaker__image {
  display: block;
  margin: 0 auto;
  height: 20em;
  width: 20em;
  box-shadow: 0px 0px 6px rgba(60, 60, 60, 0.25);
  border-radius: 4px; }

.qcbt__widget__speakers__speaker__name {
  font: 400 1.4em "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: #969696;
  margin-top: 1em; }

.qcbt__widget__speakers__speaker__title {
  font: 400 1.1em "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: #bebebe; }

.sponsors-grid {
  width: 100%;
  max-width: 72em;
  margin: 4em auto;
  position: relative; }

.sponsors-grid__box {
  display: block;
  float: left;
  position: relative;
  background: rgba(230, 234, 238, 0.5);
  border: 1px solid white;
  -webkit-transition: border 0.2s;
  -moztransition: border 0.2s;
  -ms-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s; }

.sponsors-grid__box--gold {
  height: 36em;
  width: 50%; }

.sponsors-grid__box--silver {
  height: 18em;
  width: 25%; }

.sponsors-grid__box--bronze {
  height: 14.4em;
  width: 20%; }

.sponsors-grid__box--manulife {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/manulife--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--rbc {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/rbc--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--oracle {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/oracle--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--dropbox {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/dropbox--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--couch {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/couch--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--dig {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/dig--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--ibm {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/ibm--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--eno {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/eno--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--accenture {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/accenture--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--wealthsimple {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/wealthsimple--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__box--soylent {
  background: rgba(230, 234, 238, 0.5) url("../images/graphics/soylent--blue.png") no-repeat;
  background-size: 100%; }

.sponsors-grid__partners {
  display: block;
  float: left;
  width: 100%;
  padding: 2em;
  background: rgba(230, 234, 238, 0.5);
  border: 1px solid white;
  text-align: center; }

.sponsors-grid__partners__text {
  font: 400 1.2em "Montserrat", Helvetica, Arial, sans-serif;
  color: #aaaaaa;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em; }

.sponsors-grid__partners__link {
  font: 400 1.6em/1em "Montserrat", Helvetica, Arial, sans-serif;
  color: #2294F2;
  text-decoration: none; }

.sponsors-graph__node--gold {
  width: 20em;
  height: 20em;
  border-radius: 10em; }

.sponsors-graph__node--silver {
  width: 14em;
  height: 14em;
  border-radius: 7em; }

.sponsors-graph__node--bronze {
  width: 8em;
  height: 8em;
  border-radius: 4em; }

.sponsors-graph__node--manulife {
  left: 50%;
  margin-left: -20em;
  top: 8em;
  background: #3c465a url("../images/logos/manulife--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--rbc {
  left: 50%;
  top: 18em;
  background: #3c465a url("../images/logos/rbc--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--oracle {
  left: 50%;
  top: 2em;
  background: #3c465a url("../images/logos/oracle--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--dropbox {
  left: 50%;
  margin-left: 22em;
  top: 18em;
  background: #3c465a url("../images/logos/dropbox--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--couch {
  left: 50%;
  margin-left: -26em;
  top: 28em;
  background: #3c465a url("../images/logos/couch--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--dig {
  left: 50%;
  margin-left: -36em;
  top: 16em;
  background: #3c465a url("../images/logos/dig--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--ibm {
  left: 50%;
  margin-left: 15em;
  top: 10em;
  background: #3c465a url("../images/logos/ibm--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--eno {
  left: 50%;
  margin-left: -8em;
  background: #3c465a url("../images/logos/eno--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--accenture {
  left: 50%;
  margin-left: -9em;
  top: 30em;
  background: #3c465a url("../images/logos/accenture--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--wealthsimple {
  left: 50%;
  margin-left: -28em;
  top: 8em;
  background: #3c465a url("../images/logos/wealthsimple--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--qic {
  left: 50%;
  margin-left: 20em;
  top: 32em;
  background: #3c465a url("../images/logos/qic--white.png") no-repeat center center;
  background-size: 100%; }

.sponsors-graph__node--ece {
  left: 50%;
  margin-left: -2em;
  top: 38em;
  background: #3c465a url("../images/logos/rbc--white.png") no-repeat center center;
  background-size: 100%; }

.spons__grid {
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 4em;
  width: 100%; }

.spons__grid__row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center; }

.spons__grid__row--pad {
  padding: 0.5em 0; }

.spons__grid__box {
  display: block;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0;
  box-shadow: 0px 1px 0px rgba(130, 140, 160, 0.75); }

.spons__grid__box--container {
  height: 30.2em;
  display: block;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto; }
  .spons__grid__box--container .spons__grid__row:nth-child(1) {
    margin-bottom: 1em; }

.spons__grid__box--gold {
  height: 30.2em;
  background: #e6eaee;
  margin-right: 1em; }

.spons__grid__box--silver {
  height: 14.6em;
  background: #e6eaee;
  margin: 0; }
  .spons__grid__box--silver:nth-child(1) {
    margin-right: 1em; }

.spons__grid__box--silver--empty {
  height: 18.4em;
  background: #e6eaee;
  margin-right: 1em; }
  .spons__grid__box--silver--empty:nth-child(5) {
    margin-right: 0; }

.spons__grid__box--silver--empty--actually {
  background: 0;
  box-shadow: none; }

.bgc--manulife {
  background: #00763a url("../images/logos/manulife.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #001008; }

.bgc--rbc {
  background: #0c5fa8 url("../images/logos/rbc.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #052949; }

.bgc--accenture {
  background: #a0112d url("../images/logos/accenture.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #440713; }

.bgc--ibm {
  background: #2572be url("../images/logos/ibm.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #143f69; }

.bgc--oracle {
  background: #e02022 url("../images/logos/oracle.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #871314; }

.bgc--wealthsimple {
  background: #f9a72c url("../images/logos/wealthsimple.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #ba7205; }

.bgc--dropbox {
  background: #017ee5 url("../images/logos/dropbox.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #01467f; }

.bgc--dig {
  background: #00a651 url("../images/logos/dig.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #00401f; }

.bgc--eno {
  background: #0054a6 url("../images/logos/eno.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px #002040; }

.bgc--couch {
  background: #1e1e1e url("../images/logos/couch.png") no-repeat center center;
  background-size: 100%;
  box-shadow: 0px 1px 0px black; }

.qcbt__member__card {
  height: 50em;
  width: 36em;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -18em;
  margin-top: -25em;
  z-index: 750;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  -webkit-transform: translateY(-75em);
  -moz-transform: translateY(-75em);
  -o-transform: translateY(-75em);
  transform: translateY(-75em); }

.qcbt__member__card__frame {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  border-radius: 4px;
  overflow-x: hidden; }

.qcbt__member__card__buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(175, 175, 175, 0.25);
  overflow: hidden;
  background: white;
  border-radius: 0 0 4px 4px; }

.qcbt__member__card__linkedin {
  display: block;
  float: left;
  border-right: 1px solid rgba(175, 175, 175, 0.25);
  text-align: center;
  text-transform: uppercase;
  font: 400 1.2em "Montserrat";
  color: #2688bb;
  width: 50%;
  padding: 1em;
  border-radius: 0 0 0 4px;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }
  .qcbt__member__card__linkedin:link {
    color: #2688bb;
    text-decoration: none; }
  .qcbt__member__card__linkedin:visited {
    color: #2688bb;
    text-decoration: none; }
  .qcbt__member__card__linkedin:hover {
    cursor: pointer;
    background: #2688bb;
    color: white;
    text-decoration: none; }
  .qcbt__member__card__linkedin:active {
    background: #005A8D;
    text-decoration: none; }

.qcbt__member__card__cancel {
  display: block;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font: 400 1.2em "Montserrat";
  color: #e74c3c;
  width: 50%;
  padding: 1em;
  border-radius: 0 0 4px 0;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }
  .qcbt__member__card__cancel:link {
    color: #e74c3c;
    text-decoration: none; }
  .qcbt__member__card__cancel:visited {
    color: #e74c3c;
    text-decoration: none; }
  .qcbt__member__card__cancel:hover {
    cursor: pointer;
    background: #e74c3c;
    color: white;
    text-decoration: none; }
  .qcbt__member__card__cancel:active {
    background: #B91E0E;
    text-decoration: none; }

.qcbt__member__card__profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  border-bottom: 1px solid rgba(175, 175, 175, 0.25);
  background: white;
  border-radius: 4px 4px 0 0;
  overflow: hidden; }

.qcbt__member__card__image__container {
  border-radius: 4em;
  height: 8em;
  width: 8em;
  margin: 0 auto;
  border: 2px solid #f0f4f8;
  overflow: hidden;
  margin-bottom: 2em; }

.qcbt__member__card__image {
  display: block;
  width: 100%; }

.qcbt__member__card__name {
  font: 400 2em "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: #1e283c; }

.qcbt__member__card__position {
  font: 400 1.2em "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: #afafaf; }

.qcbt__member__card__description {
  margin-top: 11.25em;
  margin-bottom: 2.5em;
  padding: 1.25em;
  font: 300 1.6em/1.4em "Titillium Web";
  color: #6e6e6e;
  text-align: center; }

.qcbt__member__card--in {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: memberCardInWebkit 0.3s ease;
  -moz-animation: memberCardInMoz 0.3s ease;
  -o-animation: memberCardInO 0.3s ease;
  animation: memberCardIn 0.3s ease; }

.qcbt__member__card--out {
  -webkit-transform: translateY(75em);
  -moz-transform: translateY(75em);
  -o-transform: translateY(75em);
  transform: translateY(75em);
  -webkit-animation: memberCardOutWebkit 0.3s ease;
  -moz-animation: memberCardOutMoz 0.3s ease;
  -o-animation: memberCardOutO 0.3s ease;
  animation: memberCardOut 0.3s ease; }

@-webkit-keyframes memberCardInWebkit {
  0% {
    -webkit-transform: rotate(0deg) translateY(-75em); }

  100% {
    -webkit-transform: rotate(0deg) translateY(0); } }

@-webkit-keyframes memberCardOutWebkit {
  0% {
    -webkit-transform: rotate(0deg) translateY(0); }

  100% {
    -webkit-transform: rotate(0deg) translateY(75em); } }

@-moz-keyframes memberCardInMoz {
  0% {
    -moz-transform: rotate(0deg) translateY(-75em); }

  100% {
    -moz-transform: rotate(0deg) translateY(0); } }

@-webkit-keyframes memberCardOutMoz {
  0% {
    -moz-transform: rotate(0deg) translateY(0); }

  100% {
    -moz-transform: rotate(0deg) translateY(75em); } }

@-o-keyframes memberCardInO {
  0% {
    -o-transform: rotate(0deg) translateY(-75em); }

  100% {
    -o-transform: rotate(0deg) translateY(0); } }

@-webkit-keyframes memberCardOutO {
  0% {
    -o-transform: rotate(0deg) translateY(0); }

  100% {
    -o-transform: rotate(0deg) translateY(75em); } }

@keyframes memberCardIn {
  0% {
    transform: rotate(0deg) translateY(-75em); }

  100% {
    transform: rotate(0deg) translateY(0); } }

@-webkit-keyframes memberCardOut {
  0% {
    transform: rotate(0deg) translateY(0); }

  100% {
    transform: rotate(0deg) translateY(75em); } }

.qcbt__widget__team {
  padding-top: 2em; }

.qcbt__widget__team__row {
  display: table;
  margin: 0 auto;
  width: intrinsic;
  padding-bottom: 2em; }

.qcbt__widget__team__member__container {
  margin: 0 1.5em;
  float: left; }

.qcbt__widget__team__member__avatar__container {
  display: block;
  height: 8em;
  width: 8em;
  border-radius: 4em;
  background: #eeeeee;
  margin-bottom: 0.75em; }

.qcbt__widget__team__member__avatar {
  display: block;
  height: 8em;
  width: 8em;
  border-radius: 4em;
  background: white;
  border: 4px solid #f0f4f8;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -ms-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s; }
  .qcbt__widget__team__member__avatar:hover {
    border-color: rgba(34, 148, 242, 0.75); }

.qcbt__widget__team__member__picture {
  display: block;
  width: 100%; }

.qcbt__widget__team__member__name {
  font: 400 1em "Montserrat";
  text-transform: uppercase;
  color: #969696;
  text-align: center; }

.qcbt__widget__team__filter {
  border: 1px solid red;
  margin-bottom: 3em; }

.qcbt__bg--dark {
  background: #545e72;
  border-bottom: 1px solid rgba(64, 74, 84, 0.5); }

.qcbt__bg--blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2294f2+0,1970b7+100 */
  background: #2294f2;
  /* Old browsers */
  background: -moz-linear-gradient(-25deg, #2294f2 0%, #1970b7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-25deg, #2294f2 0%, #1970b7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(155deg, #2294f2 0%, #1970b7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2294f2', endColorstr='#1970b7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.qcbt__bg--graph {
  background: #545e72;
  background: #545e72 url("../images/bg/numbers--three.svg") no-repeat center center;
  border-bottom: 1px solid rgba(64, 74, 84, 0.5); }

.qcbt__bg--off-white {
  background: #f0f4f8;
  border-bottom: 1px solid rgba(210, 213, 216, 0.5); }

.qcbt__bg--road-sign {
  background: #f0f4f8 url("../images/graphics/roadsign.png") no-repeat center center; }

.qcbt__bg--mission {
  background: #f0f4f8 url("../images/graphics/mission.png") no-repeat center center; }

.qcbt__bg--learning {
  background: url("../images/graphics/learning.png") no-repeat center center; }

.qcbt__bg--networking {
  background: url("../images/graphics/networking.png") no-repeat center center; }

.qcbt__bg--recruitment {
  background: url("../images/graphics/recruitment.png") no-repeat center center; }

.qcbt__bg--shape {
  background: url("../images/graphics/shape.png") no-repeat center center; }

.qcbt__bg--connect {
  background: #f0f4f8 url("../images/graphics/connect.png") no-repeat center center; }

.qcbt__bg--create {
  background: url("../images/graphics/create.png") no-repeat center center; }

.qcbt__bg--educate {
  background: #f0f4f8 url("../images/graphics/educate.png") no-repeat center center; }

.qcbt__bg--inspire {
  background: #f0f4f8 url("../images/graphics/inspire.png") no-repeat center center; }

.qcbt__bg--establish {
  background: #f0f4f8 url("../images/graphics/establish.png") no-repeat center center; }

.qcbt__bg--share {
  background: url("../images/graphics/share.png") no-repeat center center; }

.qcbt__bg--clouds {
  background: url("../images/bg/clouds.png") repeat-x center bottom; }

@media (max-width: 1200px) {
  .spons__grid {
    width: 85%; }

  .spons__grid__box--container {
    height: 23.7em; }

  .spons__grid__box--gold {
    height: 23.7em; }

  .spons__grid__box--silver {
    height: 11.35em; } }
.qcbt__modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(60, 60, 60, 0.75);
  z-index: 500;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -moz-transition: opacity 0.2s, visibility 0.2s;
  -o-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s; }

.qcbt__modal--hidden {
  opacity: 0;
  visibility: hidden; }
