.qcbt__modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(60,60,60,0.75);
	z-index: 500;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	   -moz-transition: opacity 0.2s, visibility 0.2s;
		 -o-transition: opacity 0.2s, visibility 0.2s;
			transition: opacity 0.2s, visibility 0.2s;
}


.qcbt__modal--hidden {
	opacity: 0;
	visibility: hidden;
}