.qcbt__bg--dark {
		background: rgb(84,94,114);
		background: rgb(84,94,114) url('../images/bg/numbers--three.svg') no-repeat center center;
		border-bottom: 1px solid rgba(64,74,84,0.5);
	}


	.qcbt__bg--blue {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2294f2+0,1970b7+100 */
background: #2294f2; /* Old browsers */
background: -moz-linear-gradient(-25deg,  #2294f2 0%, #1970b7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-25deg,  #2294f2 0%,#1970b7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(155deg,  #2294f2 0%,#1970b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2294f2', endColorstr='#1970b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}



	.b {
	}




	.qcbt__bg--off-white {
		background: rgb(240,244,248);
		border-bottom: 1px solid rgba(210,213,216,0.5);
	}


	.qcbt__bg--road-sign {
		background: rgb(240,244,248) url('../images/graphics/roadsign.png') no-repeat center center;
	}


	.qcbt__bg--mission {
		background: rgb(240,244,248) url('../images/graphics/mission.png') no-repeat center center;
	}


	.qcbt__bg--learning {
		background: url('../images/graphics/learning.png') no-repeat center center;
	}


	.qcbt__bg--networking {
		background: url('../images/graphics/networking.png') no-repeat center center;
	}


	.qcbt__bg--recruitment {
		background: url('../images/graphics/recruitment.png') no-repeat center center;
	}


	.qcbt__bg--shape {
		background: url('../images/graphics/shape.png') no-repeat center center;
	}


	.qcbt__bg--connect {
		background: rgb(240,244,248) url('../images/graphics/connect.png') no-repeat center center;
	}


	.qcbt__bg--create {
		background: url('../images/graphics/create.png') no-repeat center center;
	}


	.qcbt__bg--educate {
		background: rgb(240,244,248) url('../images/graphics/educate.png') no-repeat center center;
	}


	.qcbt__bg--inspire {
		background: rgb(240,244,248) url('../images/graphics/inspire.png') no-repeat center center;
	}


	.qcbt__bg--establish {
		background: rgb(240,244,248) url('../images/graphics/establish.png') no-repeat center center;
	}


	.qcbt__bg--share {
		background: url('../images/graphics/share.png') no-repeat center center;
	}


	.qcbt__bg--clouds {
		background: url('../images/bg/clouds.png') repeat-x center bottom;
	}

	@media (max-width: 1200px) {

	// grid
	.spons__grid {
		// original width is 0.85*960 = 816px
		width: 85%;
	}


		.spons__grid__box {
		}


		.spons__grid__box--container {
			height: 23.7em;


		}


		.spons__grid__box--gold {
			height: 23.7em;
		}


		.spons__grid__box--silver {
			height: 11.35em;

		}

}