	// NAVIGATION
	// ----------

	.qcbt__navigation {
		position: fixed;
		width: 100%;
		z-index: 200;
		background: transparent;
		border: 0;
		-webkit-transition: background 0.2s, border 0.2s;
		   -moz-transition: background 0.2s, border 0.2s;
			-ms-transition: background 0.2s, border 0.2s;
			 -o-transition: background 0.2s, border 0.2s;
				transition: background 0.2s, border 0.2s;
	}


	.qcbt__navigation--visible {
		background: rgba(255,255,255,0.975);
		border-bottom: 1px solid rgba(240,240,240,0.85);
	}


		.qcbt__navigation__logo {
			float: left;
			display: inline-block;
			padding: 1.5em;
		}


			.qcbt__navigation__picture {
				display: block;
				height: 3.7em;
			}


		.qcbt__navigation__action {
			float: right;
			display: inline-block;
			padding: 1.5em;
		}


		.qcbt__navigation__links__container {
			//border: 1px solid red;
			float: right;
			opacity: 0;
			border-right: 1px solid rgba(230,233,236,0.75);
			-webkit-transition: opacity 0.2s;
			   -moz-transition: opacity 0.2s;
				-ms-transition: opacity 0.2s;
				 -o-transition: opacity 0.2s;
					transition: opacity 0.2s;
		}


		.qcbt__navigation__links__container--visible {
			opacity: 1;
		}


			.qcbt__navigation__links {
			}


				.qcbt__navigation__link__container {
					//border: 1px solid green;
					float: left;

				}


					.qcbt__navigation__link {
						//border: 1px solid black;
						display: block;
						padding: 1.85em 2.5em;
					}


						.qcbt__navigation__link__icon {
							opacity: 1;
							display: inline-block;
							height: 3em;
							width: 3em;
							border-radius: 2em;
							float: left;
							margin-right: 1em;
							border: 2px solid rgb(175,175,175);
							overflow: hidden;
						}


						.qcbt__navigation__link__icon--sponsorship--shade {
							background: url('../images/nav/straight--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--speakers--shade {
							background: url('../images/nav/straight-side--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--team--shade {
							background: url('../images/nav/slant-left--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--delegates--shade {
							background: url('../images/nav/slant-right--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--sponsorship--blue {
							background: url('../images/nav/straight--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--speakers--blue {
							background: url('../images/nav/straight-side--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--team--blue {
							background: url('../images/nav/slant-left--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--delegates--blue {
							background: url('../images/nav/slant-right--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--active {
							border: 2px solid #2294F2;
						}


						.qcbt__navigation__link__text {
							float: left;
							font: 400 1.2em/2.5em "Montserrat";
							text-transform: uppercase;
							color: rgb(175,175,175);
						}


						.qcbt__navigation__link__text--active {
							color: #2294F2;
						}