// NAVIGATION COMPONENT
// --------------------
//
// _components--navigation.scss
//
// This file contains the styles for the navigation bar
// 



// CONTAINER
// ---------

.navigation {
	position: fixed;
	width: 100%;
	z-index: 200;
	background: transparent;
	border: 0;
	padding-top: 2em;
	//@include vendor-prefix('transition', 'background 0.2s, border 0.2s');
}


	.navigation--visible {
		background: rgba(255,255,255,0.975);
		border-bottom: 1px solid rgba(240,240,240,0.85);
	}


		.qcbt__navigation__logo {
			float: left;
			display: inline-block;
			padding: 1.5em;
		}


			.qcbt__navigation__picture {
				display: block;
				height: 3.7em;
			}


		.qcbt__navigation__action {
			float: right;
			display: inline-block;
			padding: 1.5em;
		}


		.navigation__links {
			//float: right;
			//opacity: 0;
			max-width: 120em;
			margin: 0 auto;
			border-radius: 10em;
			overflow: hidden;
			box-shadow: 0px 0px 1px rgba(60,60,60,0.35);
			//@include vendor-prefix('transition', 'opacity 0.2s');
		}


		.navigation__links--visible {
			opacity: 1;
		}


			.navigation__links__container {
				width: 20%;
			}


				.navigation__link__container {
					display: block;
					width: 16.6667%;
					float: left;
					background: rgb(250,250,250);
				}


					.navigation__link {
						//border: 1px solid black;
						display: block;
						padding: 1em 2em;
						text-decoration: none;
					}


						.navigation__link__title {
							font: $font-weight--medium 1.4em/1em $font--helper;
							color: $color--text--medium--light;
							margin-bottom: 0.25em;
							text-align: center;
							text-transform: uppercase;
						}


						.navigation__link__description {
							font: $font-weight--medium 1em/1.2em $font--helper;
							color: $color--text--short--light;
							text-align: center;
							text-transform: uppercase;
						}



						.qcbt__navigation__link__icon {
							opacity: 1;
							display: inline-block;
							height: 3em;
							width: 3em;
							border-radius: 2em;
							float: left;
							margin-right: 1em;
							border: 2px solid rgb(175,175,175);
							overflow: hidden;
						}


						.qcbt__navigation__link__icon--sponsorship--shade {
							background: url('../images/nav/straight--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--speakers--shade {
							background: url('../images/nav/straight-side--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--team--shade {
							background: url('../images/nav/slant-left--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--delegates--shade {
							background: url('../images/nav/slant-right--shade.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--sponsorship--blue {
							background: url('../images/nav/straight--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--speakers--blue {
							background: url('../images/nav/straight-side--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--team--blue {
							background: url('../images/nav/slant-left--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--delegates--blue {
							background: url('../images/nav/slant-right--blue.png') center center;
							background-size: 100%;
						}


						.qcbt__navigation__link__icon--active {
							border: 2px solid #2294F2;
						}


						.qcbt__navigation__link__text {
							float: left;
							font: 400 1.2em/2.5em "Montserrat";
							text-transform: uppercase;
							color: rgb(175,175,175);
						}


						.qcbt__navigation__link__text--active {
							color: #2294F2;
						}