// SECTION
// -------


// SECTION MIXIN
// -------------

@mixin section($topbottom, $leftright) {
	padding: $topbottom $leftright;
}


// SECTION TYPES
// -------------

.section--landing { @include section(8em, 2em); }
.section--supporting { @include section(6em, 2em); }
.section--intermediary { @include section(4em, 2em); }


// SECTION ADDONS
// --------------

.section--overflow {
	overflow: hidden;
}


.section--border {
	border-bottom: 1px solid rgba(230,233,236,0.5);
}


		// SECTION BOUNDS
		// --------------

		.section__bounds {
			max-width: 96em;
			margin: 0 auto;
		}


			// FLEX CONTAINER IF NEEDED
			// ------------------------

			.section__flex {
				display: -webkit-flex;
				display: flex;
			}


				// SECTION TEXT GROUPING
				// ---------------------

				.qcbt__section__text {
					width: 40%;
					display: block;
				}


				.qcbt__section__text--landing {
					width: 100%;
				}


				.qcbt__section__text--center {
					width: 100%;
				}


					.qcbt__section__text__open {
						font: 400 1.2em "Montserrat";
						text-transform: uppercase;
					}


					.qcbt__section__text__open--landing {
						text-align: center;
						max-width: 50em;
						margin: 0 auto;
					}


					.qcbt__section__text__open--center {
						text-align: center;
					}


					.qcbt__section__text__open--light {
						color: rgb(175,175,175);
					}


					.qcbt__section__text__open--dark {
						color: rgb(200,200,200);
					}


					.qcbt__section__text__divider {
						display: block;
						height: 0.2em;
						width: 3em;
						background: #2294F2;
						margin-top: 0.25em;
					}


					.qcbt__section__text__divider--center {
						margin: 0.25em auto 0 auto;
					}


					.qcbt__section__text__title {
						font: 300 2.8em/1em "Montserrat";
						text-transform: uppercase;
						margin: 1em 0 0.4em 0;
					}


					.qcbt__section__text__title--landing {
						font-size: 3.6em;
						margin: 0.4em 0;
						text-align: center;
					}


					.qcbt__section__text__title--small {
						max-width: 18em;
						margin: 0.4em auto 0.4em auto;
					}


					.qcbt__section__text__title--center {
						text-align: center;
					}


					.qcbt__section--intermediary .qcbt__section__text__title {
						margin: 0 0 0.4em 0;
					}


					.qcbt__section__text__title--light {
						color: #2294F2;
						color: rgb(73,75,78);
					}


					.qcbt__section__text__title--dark {
						color: rgb(255,255,255);
					}


					.qcbt__section__text__blurb {
						font: 300 1.6em/1.4em "Titillium Web";
					}


					.qcbt__section__text__blurb--landing {
						font-size: 2em;
						max-width: 32em;
						margin: 0 auto;
						text-align: center;
					}


					.qcbt__section__text__blurb--center {
						max-width: 30em;
						margin: 0 auto;
						text-align: center;
					}


					.qcbt__section__text__blurb--light {
						color: rgb(130,133,136);
					}


					.qcbt__section__text__blurb--dark {
						color: rgb(240,243,246);
					}


				.qcbt__section__compliment {
					width: 60%;
					display: block;
				}


				.qcbt__section__compliment--center {
					width: 100%;
				}