.qcbt__widget__numbers {
}


.qcbt__widget__numbers--sponsorship {
	padding-top: 3em;
}


	// TEAM NUMBERS
	// ------------

	.qcbt__widget__team__number {
		float: left;
		padding: 0 1em;
		width: 25%;
	}


		.qcbt__widget__team__number__digit {
			font: 400 4em/1em "Montserrat";
			margin-bottom: 0.25em;
			text-align: center;
			color: #2294F2;
		}


		.qcbt__widget__team__number__category {
			font: 400 1.4em "Montserrat";
			text-transform: uppercase;
			text-align: center;
			color: rgb(175,175,175);
		}


	// SPONSORSHIP NUMBERS
	// ------------

	.qcbt__widget__sponsorship__number {
		float: left;
		padding-right: 4em;
	}


		.qcbt__widget__sponsorship__number__digit {
			font: 400 3.6em/1em "Montserrat";
			margin-bottom: 0.25em;
			color: rgb(230,233,236);
		}


		.qcbt__widget__sponsorship__number__category {
			font: 400 1.2em "Montserrat";
			text-transform: uppercase;
			color: #2294F2;
		}