.qcbt__contribution {
	max-width: 50em;
	margin: 4em auto;
	border-radius: 4px;
	padding: 2em;
	border: 2px solid rgb(220,223,226);
}


.qcbt__contribution--base {
	background: #2294F2;

		.qcbt__contribution__value__number {
			color: rgb(255,255,255);
		}


		.qcbt__contribution__value__sign {
			color: rgba(255,255,255,0.75);
		}


	.qcbt__contribution__range {

		// track
		&::-webkit-slider-runnable-track {
			background: #0070CE;
		}

		&::-webkit-slider-thumb {
			background: #FFFFFF;
		}

	}

}


.qcbt__contribution--bronze {
	background: #CD7F32;

		.qcbt__contribution__value__number {
			color: rgb(255,255,255);
		}


		.qcbt__contribution__value__sign {
			color: rgba(255,255,255,0.75);
		}


	.qcbt__contribution__range {

		// track
		&::-webkit-slider-runnable-track {
			background: #A95B0E;
		}

		&::-webkit-slider-thumb {
			background: #FFFFFF;
		}

	}

}


.qcbt__contribution--silver {
	background: #C0C0C0;

		.qcbt__contribution__value__number {
			color: rgb(30,40,60);
		}


		.qcbt__contribution__value__sign {
			color: rgba(30,40,60,0.75);
		}


	.qcbt__contribution__range {

		// track
		&::-webkit-slider-runnable-track {
			background: #9C9C9C;
		}

		&::-webkit-slider-thumb {
			background: rgb(30,40,60);
		}

	}

}


.qcbt__contribution--gold {
	background: #FFD700;

		.qcbt__contribution__value__number {
			color: rgb(30,40,60);
		}


		.qcbt__contribution__value__sign {
			color: rgba(30,40,60,0.75);
		}


	.qcbt__contribution__range {

		// track
		&::-webkit-slider-runnable-track {
			background: #DBB300;
		}

		&::-webkit-slider-thumb {
			background: rgb(30,40,60);
		}

	}

}


.qcbt__contribution--platinum {
	background: #E5E4E2;

		.qcbt__contribution__value__number {
			color: rgb(30,40,60);
		}


		.qcbt__contribution__value__sign {
			color: rgba(30,40,60,0.75);
		}


	.qcbt__contribution__range {

		// track
		&::-webkit-slider-runnable-track {
			background: #C1C0BE;
		}

		&::-webkit-slider-thumb {
			background: rgb(30,40,60);
		}

	}

}


	.qcbt__contribution__value {
		display: block;
	}


		.qcbt__contribution__value__number {
			width: 90%;
			float: left;
			font: 400 3em/1em "Montserrat";
			-webkit-transition: color 0.2s;
			   -moz-transition: color 0.2s;
				-ms-transition: color 0.2s;
				 -o-transition: color 0.2s;
					transition: color 0.2s;
		}


		.qcbt__contribution__value__sign {
			width: 10%;
			float: left;
			font: 300 1.6em/1em "Titillium Web";
			text-align: right;
			-webkit-transition: color 0.2s;
			   -moz-transition: color 0.2s;
				-ms-transition: color 0.2s;
				 -o-transition: color 0.2s;
					transition: color 0.2s;
		}


	.qcbt__contribution__range {
		margin-top: 2.5em;
		-webkit-appearance: none;
		width: 100%;
		background: transparent;
		cursor: pointer;

		// track
		&::-webkit-slider-runnable-track {
			width: 100%;
			border-radius: 1.25em;
			height: 0.5em;
			-webkit-transition: background 0.2s, color 0.2s;
			   -moz-transition: background 0.2s, color 0.2s;
				-ms-transition: background 0.2s, color 0.2s;
				 -o-transition: background 0.2s, color 0.2s;
					transition: background 0.2s, color 0.2s;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 2em;
			width: 4em;
			border-radius: 0.2em;
			position: relative;
			margin-top: -0.75em;
			-webkit-transition: background 0.2s, color 0.2s;
			   -moz-transition: background 0.2s, color 0.2s;
				-ms-transition: background 0.2s, color 0.2s;
				 -o-transition: background 0.2s, color 0.2s;
					transition: background 0.2s, color 0.2s;
		}

	}


