// ITINERARY MODULE
// ----------------
//
// _module--itinerary.scss
//
// This file contains the styles for the itinerary section
// 



// ITINERARY
// ---------


.itinerary {
	margin-top: 4em;
}


	.itinerary__connector {
		display: block;
		height: 1.5em;
		width: 1.5em;
		margin: 0 auto;
		border-radius: 1em;
		border: 4px solid $color--theme;
	}


	.itinerary__path {
		display: block;
		height: 4em;
		width: 0.5em;
		margin: 0.5em auto;
		border-radius: 0.5em;
		background: $color--theme;
	}


	.itinerary__event {
		max-width: 40em;
		padding: 2em;
		margin: 1em auto;
		border: 2px solid $color--theme;
		border-radius: 6px;
		text-align: center;
	}


	.itinerary__event--date {
		background: $color--theme;
	}


		.itinerary__event__date {
			font: $font-weight--medium 1.6em $font--helper;
			color: rgb(255,255,255);
			text-transform: uppercase;
		}


		.itinerary__event__time-location {
			font: $font-weight--medium 1.1em $font--helper;
			color: $color--text--short--light;
			text-transform: uppercase;
			margin-bottom: 1em;
		}


		.itinerary__event__name {
			font: $font-weight--medium 1.6em $font--helper;
			color: rgb(30,40,60);
			text-transform: uppercase;
		}


		.itinerary__event__detail {
			font: $font-weight--thin 1.4em $font--body;
			color: $color--text--long--light;
		}


		.itinerary__event__attire {
			font: $font-weight--medium 1.1em $font--helper;
			color: $color--text--short--light;
			text-transform: uppercase;
			margin-top: 1em;
		}