// SPONSORS GRID
// -------------
//
// _module--sponsors.graph.scss
//
// This file contains the styling for the sponsors graph on the sponsorship
// page.
//



// GRID
// -----

.sponsors-grid {
	width: 100%;
	max-width: 72em;
	margin: 4em auto;
	position: relative;
}


	// BOX
	// ---

	.sponsors-grid__box {
		display: block;
		float: left;
		position: relative;
		background: rgba(230,234,238,0.5);
		border: 1px solid rgb(255,255,255);
		@include vendor-prefix('transition', 'border 0.2s');
	}


		// CORNERS
		// -------

		// .sponsors-grid__box__corners {
		// 	position: absolute;
		// 	height: 4em;
		// 	width: 4em;

		// 	&:nth-child(1) {
		// 		top: 0;
		// 		left: 0;
		// 		border-top: 1px solid #2294F2;
		// 		border-left: 1px solid #2294F2;
		// 	}

		// 	&:nth-child(2) {
		// 		top: 0;
		// 		right: 0;
		// 		border-top: 1px solid #2294F2;
		// 		border-right: 1px solid #2294F2;
		// 	}

		// 	&:nth-child(3) {
		// 		bottom: 0;
		// 		right: 0;
		// 		border-bottom: 1px solid #2294F2;
		// 		border-right: 1px solid #2294F2;
		// 	}

		// 	&:nth-child(4) {
		// 		bottom: 0;
		// 		left: 0;
		// 		border-bottom: 1px solid #2294F2;
		// 		border-left: 1px solid #2294F2;
		// 	}

		// }


	.sponsors-grid__box--gold {
		height: 36em;
		width: 50%;
	}


	.sponsors-grid__box--silver {
		height: 18em;
		width: 25%;
	}


	.sponsors-grid__box--bronze {
		height: 14.4em;
		width: 20%;
	}


	.sponsors-grid__box--manulife {
		background: rgba(230,234,238,0.5) url('../images/graphics/manulife--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--rbc {
		background: rgba(230,234,238,0.5) url('../images/graphics/rbc--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--oracle {
		background: rgba(230,234,238,0.5) url('../images/graphics/oracle--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--dropbox {
		background: rgba(230,234,238,0.5) url('../images/graphics/dropbox--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--couch {
		background: rgba(230,234,238,0.5) url('../images/graphics/couch--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--dig {
		background: rgba(230,234,238,0.5) url('../images/graphics/dig--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--ibm {
		background: rgba(230,234,238,0.5) url('../images/graphics/ibm--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--eno {
		background: rgba(230,234,238,0.5) url('../images/graphics/eno--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--accenture {
		background: rgba(230,234,238,0.5) url('../images/graphics/accenture--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--wealthsimple {
		background: rgba(230,234,238,0.5) url('../images/graphics/wealthsimple--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__box--soylent {
		background: rgba(230,234,238,0.5) url('../images/graphics/soylent--blue.png') no-repeat;
		background-size: 100%;
	}


	.sponsors-grid__partners {
		display: block;
		float: left;
		width: 100%;
		padding: 2em;
		background: rgba(230,234,238,0.5);
		border: 1px solid rgb(255,255,255);
		text-align: center;
	}


		.sponsors-grid__partners__text {
			font: $font-weight--medium $font-size--text--short $font--helper;
			color: rgb(170,170,170);
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 1em;
		}


			.sponsors-grid__partners__link {
				font: $font-weight--medium 1.6em/1em $font--helper;
				color: #2294F2;
				text-decoration: none;
			}







	.sponsors-graph__node--gold {
		width: 20em;
		height: 20em;
		border-radius: 10em;
	}


	.sponsors-graph__node--silver {
		width: 14em;
		height: 14em;
		border-radius: 7em;
	}


	.sponsors-graph__node--bronze {
		width: 8em;
		height: 8em;
		border-radius: 4em;
	}


	// NODE SPECIFIC
	// -------------


	// GOLD
	// ----

	.sponsors-graph__node--manulife {
		left: 50%;
		margin-left: -20em;
		top: 8em;
		background: rgb(60,70,90) url('../images/logos/manulife--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--rbc {
		left: 50%;
		top: 18em;
		background: rgb(60,70,90) url('../images/logos/rbc--white.png') no-repeat center center;
		background-size: 100%;
	}


	// SIVLER
	// ------


	.sponsors-graph__node--oracle {
		left: 50%;
		top: 2em;
		background: rgb(60,70,90) url('../images/logos/oracle--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--dropbox {
		left: 50%;
		margin-left: 22em;
		top: 18em;
		background: rgb(60,70,90) url('../images/logos/dropbox--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--couch {
		left: 50%;
		margin-left: -26em;
		top: 28em;
		background: rgb(60,70,90) url('../images/logos/couch--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--dig {
		left: 50%;
		margin-left: -36em;
		top: 16em;
		background: rgb(60,70,90) url('../images/logos/dig--white.png') no-repeat center center;
		background-size: 100%;
	}


	// BRONZE
	// ------

	.sponsors-graph__node--ibm {
		left: 50%;
		margin-left: 15em;
		top: 10em;
		background: rgb(60,70,90) url('../images/logos/ibm--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--eno {
		left: 50%;
		margin-left: -8em;
		background: rgb(60,70,90) url('../images/logos/eno--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--accenture {
		left: 50%;
		margin-left: -9em;
		top: 30em;
		background: rgb(60,70,90) url('../images/logos/accenture--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--wealthsimple {
		left: 50%;
		margin-left: -28em;
		top: 8em;
		background: rgb(60,70,90) url('../images/logos/wealthsimple--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--qic {
		left: 50%;
		margin-left: 20em;
		top: 32em;
		background: rgb(60,70,90) url('../images/logos/qic--white.png') no-repeat center center;
		background-size: 100%;
	}


	.sponsors-graph__node--ece {
		left: 50%;
		margin-left: -2em;
		top: 38em;
		background: rgb(60,70,90) url('../images/logos/rbc--white.png') no-repeat center center;
		background-size: 100%;
	}






