.qcbt__widget__small__logos {
	margin: 2em auto;
	max-width: 60em;
}

	
	.qcbt__widget__small__logos__logo {
		width: 10em;
		height: 10em;
		display: block;
		float: left;
	}


	.qcbt__widget__small__logos__logo--manulife {
		background: url('../images/logos/manulife--blue.png') no-repeat center;
		background-size: 100%;
	}


	.qcbt__widget__small__logos__logo--rbc {
		background: url('../images/logos/rbc--blue.png') no-repeat center;
		background-size: 100%;
	}


	.qcbt__widget__small__logos__logo--accenture {
		background: url('../images/logos/accenture--blue.png') no-repeat center;
		background-size: 100%;
	}


	.qcbt__widget__small__logos__logo--ibm {
		background: url('../images/logos/ibm--blue.png') no-repeat center;
		background-size: 100%;
	}


	.qcbt__widget__small__logos__logo--wealthsimple {
		background: url('../images/logos/wealthsimple--blue.png') no-repeat center;
		background-size: 100%;
	}


	.qcbt__widget__small__logos__logo--oracle {
		background: url('../images/logos/oracle--blue.png') no-repeat center;
		background-size: 100%;
	}