.qcbt__widget__speakers {
	margin: 4em auto;
	display: table;
	width: intrinsic;
}


	.qcbt__widget__speakers__speaker {
		display: block;
		float: left;
		margin: 0 2em;
		position: relative;
	}


	.qcbt__widget__speakers__speaker--down-1 {
		margin-top: 8em;
	}


	.qcbt__widget__speakers__speaker--down-2 {
		margin-top: 4em;
	}


		.qcbt__widget__speakers__speaker__image {
			display: block;
			height: 20em;
			width: 20em;
			//box-shadow: 0px 0px 6px rgba(60,60,60,0.25);
			border-radius: 4px;
			border: 2px solid rgba(175,175,175,0.5);
		}


		.qcbt__widget__speakers__speaker__name {
			font: 400 1.4em "Montserrat";
			text-transform: uppercase;
			text-align: center;
			color: rgb(150,150,150);
			margin-top: 1em;
		}